<div class="hero-bfilter">
  <div class="container">
    <h1 class="head">Bloomfilter</h1>
    <h2 class="subhead">Startup software from zero to one</h2>
  </div>
  <a href="{{base}}/assets/images/bfilter-hero.jpg" target="_blank">
    <img alt="A representative image of redesigned software navigation" src="{{base}}/assets/images/bfilter-hero.jpg">
  </a>
</div>
<section>
  <div class="container">
    <h2>End to end with a new SaaS platform</h2>
    <p><b>What are we building? How long is it going to take? How much is it going to cost?</b></p>
    <P>These are questions software development lifecycle leaders have struggled to answer for decades. Bloomfilter uses process mining and AI to paint a clear picture of your processes and helps you understand how to improve.</p>

    <p>When I started with Bloomfilter the platform was essentially a proof of concept. It integrated with one source (Jira) and only showed sprint-level productivity data. The user experience had not been a priority and there were no design standards in place.</p>
  </div>
  <div class="container">
    <h2>Moving quickly but keeping an eye to the future</h2>
    <p>I worked on several things in parallel:</p>
    <ul>
      <li>Speaking with prospects and early customers to understand their needs. What could we solve today, in 6 months, in a year? Why aren't current tools working for them?</li>
      <li>Collaborating with the chief product officer to define and scope new features. We tried to balance feasibility, "wow" factor, and long term user value into our roadmap decisions.</li>
      <li>Building a design system from the ground up to help the platform reach a baseline level of consistency, professionalism, and scalability.</li>
    </ul>
  </div>
  <div class="container">
    <h2>Strategic Priorities</h2>
    <p>One thing users repeatedly asked for was an ability to define high level plans and goals, so that the granular data Bloomfilter presented could be tied back to those for tracking, performance reviews, and resource planning.</p>
    <p>The scope was kept narrow and focused with the understanding further integrations and enhancements would add more capability over time. What was the most basic unit we could ask a user to define? What was the most impactful data they would see right away?</p>
  </div>
  <video width="80%" controls class="inline-image limit-width-image">
    <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_1724/v1695926108/initiatives-flow.mp4" type="video/mp4" />
  </video>
  <div class="container">
    <h2>A View into Financials</h2>
    <p>A key challenge I heard was how to bridge the gap between engineering deliverables and intervals (cards, points, sprints, etc) and those used by the organization at large (dollars, quarters, etc).</p>
    <p>I designed a flow based on division, where users enter in either budgeted or total spend amounts and calculations can be made based on that. Typical models were multiplication based, using average rates for employees and other metrics which were often problematic and inaccurate. The general solution was a multi-axis graph of arbitrary time series data. Although it felt complex to me it was very well received in testing, offering a flexible and insightful view.</p>
    <video width="100%" controls class="inline-image limit-width-image">
      <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_1784/v1695926086/financials-flow.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="container">
    <h2>Design System</h2>
    <p>While building out these features, I worked closely with our engineering team to begin defining and implementing a basic design system. I started very tactically, cleaning up and presenting a color palette, basic text styling, and common UI controls like buttons. I took care to document the <em>why?</em> for decisions to support growth and expansion.</p>
    <p>We set up a Storybook instance and began to tie in common settings and values as design tokens.</p>
  </div>
  <a href="{{base}}/assets/images/BFilter-collage" target="_blank">
    <img alt="Samples from burgeoning design system" src="{{base}}/assets/images/BFilter-collage.jpg">
  </a>
</section>
