<div class="hero-peak">
  <div class="container">
    <h1 class="head">Darby from Peak Telematics</h1>
    <h2 class="subhead">Bringing tech to small insurance companies</h2>
  </div>
  <a href="{{base}}/assets/images/peak-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>Peak Telematics wanted to help small insurance companies leverage usage-based insurance tools (like Progressive's Snapshot). By offering a turnkey solution, customers could get lower rates and the insurance companies could stay competitive with the larger players in the space.</p>
  </div>
  <div class="container">
    <h2>My role</h2>
    <p>Peak was working with a distributed, cross-functional team including an offshore back-end group for the physical logistics/fulfillment. My role was to take existing brand identity work and research to create the customer facing interface. I worked with multiple stakeholders to validate prototypes and design concepts. The final output was a working front end application that was integrated into the backend to create a working application.</p>
    <p>For non-standard UI pieces, I leveraged paper prototypes to quickly test ideas and explore layout options.</p>
    <a href="{{base}}/assets/images/peak-paper-prototype.jpg" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-paper-prototype.jpg">
    </a>
  </div>
</section>
<section>
  <div class="container">
    <h2>Applying an existing brand to a new application</h2>
    <p>The Darby brand already had an identity, but I used tools like element collages to quickly get feedback on overall style and tone. This worked really well to get non-designers to understand what the app could look like, without being bogged down on sample content or code. It was also easy to update and test changes.</p>
  </div>
  <a href="{{base}}/assets/images/peak-element-collage.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-element-collage.jpg">
  </a>
</section>
<section>
  <div class="container">
    <h2>Communicating design concepts quickly</h2>
    <p>Working with a distributed team filled with non-designers meant communicating with words as much as (or more than) visuals. I used quick mockups with explanations to share my thought process and run ideas by the team.</p>
  </div>
  <a href="{{base}}/assets/images/peak-main-nav-discussion.jpg" target="_blank">
    <img class="inline-image limit-width-image" src="{{base}}/assets/images/peak-main-nav-discussion.jpg">
  </a>
</section>

<section>
  <div class="color-bar--dark">
    <div class="container">
      <h2>Iteration and refinement</h2>
      <p>I built the components of the design system for the application through rounds of concepting and prototyping. When possible I used clickable prototypes so stakeholders could interact with the concepts on their own devices for a more realistic context vs static mockups.</p>
    </div>
    <a href="{{base}}/assets/images/peak-mobile-wireframes.jpg" target="_blank">
      <img src="{{base}}/assets/images/peak-mobile-wireframes.jpg">
    </a>
  </div>
</section>

<a class="inline-image limit-width-image" href="{{base}}/assets/images/peak-map-variants.jpg" target="_blank">
  <img src="{{base}}/assets/images/peak-map-variants.jpg">
</a>
<section>
  <div class="container">
    <h2>Planning and testing</h2>
    <p>Building a MVP meant that we didn't have an actual user group to test or solicit feedback from. We leveraged a small group of testers to quickly evaluate prototypes and ideas. I also employed simulated eye-tracking on major views to ensure the layouts were focusing on the right things.</p>
    <a class="inline-image" href="{{base}}/assets/images/peak-tests.jpg" target="_blank">
      <img src="{{base}}/assets/images/peak-tests.jpg">
    </a>
  </div>
  <a class="inline-image limit-width-image" href="{{base}}/assets/images/peak-events.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-events.jpg">
  </a>
</section>

<section>
  <div class="container">
    <h2>What I learned</h2>
    <p>Working with a large team spread across multiple regions, languages, and timezones was challenging. There were times when I had to work in an inefficient way to better fit another team's requirements, and I always had to balance the volume of feedback with my own experience and the stated priorities.</p>

    <p>Documentation was key every step of the way, and I created various diagrams and flow charts to keep everyone on the same page.</p>
    <a href="{{base}}/assets/images/peak-documentation.png" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-documentation.png">
    </a>
  </div>
  <a href="{{base}}/assets/images/peak-fold-versions.jpg" target="_blank">
    <img class="inline-image limit-width-image" src="{{base}}/assets/images/peak-fold-versions.jpg">
  </a>
  <div class="container">
    <a href="{{base}}/assets/images/peak-icon-ideas.png" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-icon-ideas.png">
    </a>
  </div>

  <div class="container">
    <h2>Results</h2>
    <p>MVP product launched within original timeframe goals. The application worked well for a lengthy sales cycle, eventually being by acquired Azuga who is currently representing it as an option for independent insurance agencies.</p>
  </div>
</section>
