<div class="hero-polar-puzzles">
  <div class="container">
    <h1 class="head">Polar Puzzles</h1>
    <h2 class="subhead">Art directing a game for all ages</h2>
  </div>
  <a href="{{base}}/assets/images/polar-puzzles-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/polar-puzzles-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The Challenge</h2>
    <p>Create a game for the <em>(then new)</em> iPad and iPhone that would appeal to young players and veteran puzzlers.</p>
    <h2 class="mini-section-header">My Role</h2>
    <p>I worked with my team of artists to art direct the game and its characters. I created the menus and interface elements, and assisted with animations and the technical side of the art assets.</p>
    <a href="{{base}}/assets/images/polar-puzzles-detail.jpg" target="_blank">
      <img class="limit-width-image inline-image" src="{{base}}/assets/images/polar-puzzles-detail.jpg">
    </a>
    <h2 class="mini-section-header">What I Learned</h2>
    <p>Targeting both young players (low learning curve, simple interfaces) and experienced gamers (challenging puzzles, options and expandability) proved to be challenging. The game was active in the App Store for several years, eventually reaching 150k+ downloads with positive critical reviews.</p>

  </div>
</section>
