<div class="hero-taniumdashboard">
  <div class="container">
    <h1 class="head">Tanium Executive Dashboard</h1>
    <h2 class="subhead">A new view into powerful data.</h2>
  </div>
  <a href="{{base}}/assets/images/peak-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>The Tanium platform is built with operators (who are experts in some area of IT) in mind. There's tremendous value for management and higher level stakeholders but granting them access to a standard environment is not a viable solution.</p>
  </div>
  <div class="container">
    <h2>The concept</h2>
    <p>On my own time, I began to create the concept of a simplified, largely read-only view of the existing data Tanium has in an environment.</p>
    <p>Instead of deep dives on data, comprehensive views and action-oriented workflows, this works on high-level plain language questions and easy to digest results. The goal is to highlight the power of what was already present in a user's environment, but not in a format that would resonate with a typical executive.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Reaction and Iteration</h2>
    <p>I presented my concepts to several executives. Overall the feedback was very positive "puts a refreshingly human face...". A number of different audiences emerged, including folks doing proof of concept evaluations and pre-sales efforts and middle management roles.</p>
    <p>I incorporated feedback around what data to present and how we could structure the experience. The challenge here was to find an appropriate level of data fidelity; how do you show enough context and detail to give an honest view, but respect the time and attention of stakeholders with the need to quickly evaluate and move on?</p>
  </div>
  <a href="{{base}}/assets/images/peak-element-collage.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-element-collage.jpg">
  </a>
</section>
<section>
  <div class="container">
    <h2>Results</h2>
    <p>Despite good feedback and interest, the idea hasn't yet had the engineering resources to make it a reality. One aspect of the design, human curated text to accompany data visualizations was prioritized though, and was implemented to the existing Taniunm console.</p>
  </div>
</section>
