<div class="hero-taniumpatchanddeploy">
  <div class="container">
    <h1 class="head">Tanium Patch and Deploy Modules</h1>
    <h2 class="subhead">UX Ownership of Major Products</h2>
  </div>
  <a href="{{base}}/assets/images/peak-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>Patch and Deploy are two of the most widely used (>30m endpoints managed) IT Operations products at Tanium. I was tasked with ownership of their user experience. This led to a number of significant features, improvements, and activities over several years. A few examples of that work are highlighted here.</p>
  </div>
  <div class="container">
    <h2>Early Work: Understanding and Guidance</h2>
    <p>Early on in my engagement, I was able to co-lead a workshop with engineering and product leadership.</p>
    <p>We wanted to answer the question of why some of our automation features were not seeing much usage. User research sessions were held before the workshop, and we analyzed the data and brainstormed during the workshop.</p>
    <p>MORE HERE</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>A Readiness Widget</h2>
    <p>With understanding from our research and input from ***** I prototyped a design for a recurring display of readiness to do OS Patching. We knew a true "easy button" scared users, but helping them understand exactly what was going to happen and why with their regular patch cadence would be a huge benefit.</p>
    <p>OS Patches are released on a regular cadence. When this occurs, operators want to know which machines are ready to be updated, which do not meet some prequalifications, and anything else that may lead to unexpected results.</p>
    <p>Most of this data already existed in the platform, but requried users to have the knowledge to know where to look, and the planning to seek out everything on time. Offering all the relevant data in a simple obvious display was a huge benefit.</p>
  </div>
  <a href="{{base}}/assets/images/peak-element-collage.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-element-collage.jpg">
  </a>
</section>

<section>
  <div class="color-bar--dark">
    <div class="container">
      <h2>End User Self Service</h2>
      <p>I lead a project to build, and later redesign an end-user self service application. Historically an administrator of Tanium would deploy software to user's machines to install new tools, update to new versions, etc. What we built was an application where admins would select software, build rules around restrictions and scheduling, but end users themselves would be able to choose what software to install or update and when.</p>
      <p>End User Self Service (EUSS) was launched as an MVP product with a simple design language. Over time, I gathered customer and stakeholder feedback which pointed to a need for expanded functionality and an updated design. I created a more modern and full featured experience for the second version of EUSS, which is in wide use today.</p>
    </div>
    <a href="{{base}}/assets/images/peak-mobile-wireframes.jpg" target="_blank">
      <img src="{{base}}/assets/images/peak-mobile-wireframes.jpg">
    </a>
  </div>
</section>

<a class="inline-image limit-width-image" href="{{base}}/assets/images/peak-map-variants.jpg" target="_blank">
  <img src="{{base}}/assets/images/peak-map-variants.jpg">
</a>

  <div class="container">
    <h2>Results</h2>
    <p>MVP product launched within original timeframe goals. The application worked well for a lengthy sales cycle, eventually being by acquired Azuga who is currently representing it as an option for independent insurance agencies.</p>
  </div>
</section>
