<div class="hero-taniumpatchanddeploy">
  <div class="container">
    <h1 class="head">Tanium Patch and Deploy Modules</h1>
    <h2 class="subhead">UX ownership and leadership for IT Ops products</h2>
  </div>
  <a href="{{base}}/assets/images/tanium-patchanddeploy-hero.jpg" target="_blank">
    <img alt="Examples of Tanium Patch and Deploy interface" src="{{base}}/assets/images/tanium-patchanddeploy-hero.jpg">
  </a>
</div>

<section>
  <div class="container container--limited">
    <h2>How can we build trust?<br>How do we filter out platform noise? <br>Why aren't users using automation?</h2>
    <P>Patch and Deploy are two of the most widely used (>30m endpoints managed) IT Operations products at Tanium. I was tasked with ownership of their user experience. This led to a number of significant features, improvements, and activities over several years.</p>
    <div class="space-top">
      <b>Responsibilities</b>
      <ul class="role-list">
        <li>research</li>
        <li>mentoring</li>
        <li>UI design</li>
        <li>prototyping</li>
      </ul>
    </div>
  </div>
<hr>

  <div class="container">
    <h2 class="highlight-maroon">Why weren't users using automation features?</h2>
    <p>I co-lead a research effort with engineering and product leadership to answer the question of why some of our automation features were not seeing much usage. Contextual interview sessions were held to understand the mental models and workflows of new and veteran users. We observed routine deployment tasks, and sought input on workflows.</p>
    <p>Our cross functional team then workshopped to analyze the data and understand the stories that were emerging, using affinity diagrams and mapping user journeys.</p>
    <p><b>We learned that automation is scary to IT Ops professionals. The complexities of their environments and the stakes involved meant that they were unlikely to adopt much automation, no matter how well we built it.</b></p>
  </div>
  <div>
    <a href="{{base}}/assets/images/tanium-patchanddeploy-workshop-collage.jpg" target="_blank">
      <img alt="A small group people collaborating at a UX workshop" src="{{base}}/assets/images/tanium-patchanddeploy-workshop-collage.jpg">
    </a>
  </div>
</section>
<section>
  <div class="container flex-container">
    <div class="item">
      <h2 class="highlight-maroon">First Solution: A Readiness Guide</h2>
      <p>I prototyped a design for a recurring display of readiness to perform OS Patching. I had learned that a true "easy button" scared users, but helping them understand exactly what was going to happen and why with their regular patch cadence would be a huge benefit.</p>
      <p>OS Patches are released on a regular cadence. Operators need to know which machines are ready to be updated, which do not meet some prequalifications, and tooling issues or anything else that may lead to unexpected results.</p>
      <p>My early versions were well received, but implied too much of a linear flow whereas the actual workflow was more of a broad checklist.</p>
    </div>
    <div class="item">
      <a class="" href="{{base}}/assets/images/tanium-patchanddeploy-readiness-old.jpg" target="_blank">
        <img alt="A software widget to aggregate time sensitive OS patch readiness data" class="" src="{{base}}/assets/images/tanium-patchanddeploy-readiness-old.jpg">
      </a>
    </div>
  </div>
</section>
<section>
  <div class="container container--limited">
    <h2 class="highlight-maroon">Revising based on Feedback</h2>
    <p>The final iteration focused on the broad categories the most likely to cause problems or unexpected results for operators in a patch deployment scenario.</p>
  </div>
    <video width="80%" controls class="inline-image limit-width-image" loop>
      <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_1643/v1662902676/xxlny9j4spdkpiv35b8x.mp4" type="video/mp4" />
    </video>
  <div class="container container--limited">
    <p>This data already existed in the platform, but required users to have the knowledge to know where to look and the planning to seek out everything on time. Offering all the relevant data in a simple obvious display was great step forward. Each category can be expanded, to view more details about potential issues and begin remediation.</p>
  </div>
  <a href="{{base}}/assets/images/tanium-patchanddeploy-readiness-2.jpg" target="_blank">
    <img alt="An additional view of OS patch readiness data" class="inline-image limit-width-image" src="{{base}}/assets/images/tanium-patchanddeploy-readiness-2.jpg">
  </a>
</section>
<section>
  <div class="color-bar--dark">
    <div class="container container--limited">
      <h2 class="">Second Solution: End User Self Service</h2>
      <p>The second solution was a desktop application where <b>users themselves would be able to choose what software to install or update and when on their machines</b>.</p> 
      <p>Giving end users control in some scenarios greatly reduced chance of environment-wide mistakes and freed up operators to tackle bigger challenges.</p>
    </div>
    <video width="80%" controls class="inline-image limit-width-image" loop>
      <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_1643/v1662858819/euss.mp4" type="video/mp4" />
    </video>
  </div>
</section>
<section>
  <div class="container flex-container">
    <div>
    <h2 class="highlight-maroon">Results</h2>
    <p>These features helped improve satisfaction and usage of the modules, as measured by SUS scores, direct customer feedback, and customer service-team heuristics.</p>
    <p>I worked on a number of different additional features including a front-end redesign, localization efforts, and support for new OS platforms.</p>
  </div>
  <div class="flex-container flex-image-grid">
    <img alt="A representative image of redesigned software navigation" class="grid-image" src="{{base}}/assets/images/tanium-patchanddeploy-results-1.png">
    <img alt="A representative image of redesigned software navigation" class="grid-image" src="{{base}}/assets/images/tanium-patchanddeploy-results-2.png">
  </div>
</div>
</section>  