<div class="hero-taniumactivity">
  <div class="container">
    <h1 class="head">Tanium Quick Access</h1>
    <h2 class="subhead">Supercharging user navigation.</h2>
  </div>
  <a href="{{base}}/assets/images/peak-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>A feature of the Tanium interface allowed users to place quick links to specific views on various overview pages. These were not being used at a level we wanted though, and I was tasked with finding a way to increase adoption without requiring extensive back-end resources to build.</p>
  </div>
  <div class="container">
    <h2>Meeting Users Preferences</h2>
    <p>Through research I knew that a high percentage of our users were keyboard users, but we offered them little in the platform outside of basic accessibility and functionality.</p>
    <p>I started exploring keyboard shortcut ideas and realized this was a perfect fit to access the quick links functionality. Instead of being limited to certain views, a user could use a keyboard shortcut to search from a list of available quick links.</p>
  </div>
</section>

FILL ME IN
