<div class="hero-tanium-activity">
  <div class="container">
    <h1 class="head">Tanium Activity</h1>
    <h2 class="subhead">Conveying real-time data in a manageable way</h2>
  </div>
  <a href="{{base}}/assets/images/tanium-activity-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/tanium-activity-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>Tanium excels at capturing and working with real-time data, but the interface to use the software was a menagerie of largely disparate views. I was given the broad task of figuring out a solution to provide insight into what is currently happening in the customer's environment.</p>
  </div>
  <div class="container">
    <h2>The concept</h2>
    <p>After talking with a number of subject matter experts and customers, I identified a few key themes:
      <ul>
        <li>Users wanted aggregate data - many environments manage > 100,000 endpoints, so displaying any individual endpoint data would be way too noisy to be useful.</li>
        <li>Rather than <em>all</em> data, users were interested in a handful of highly impactful tasks, like machines performing scans, software updates being installed, etc.</li>
        <li>Two distinct experiences were needed; one for a quick glance at the data, and another for more detail, as part of an investigative workflow for example.</li>
      </ul>
    </p>
  </div>
  <div class="container">
    <h2>Prioritization and Design</h2>
    <p>We decided to focus on two broad areas of data: deployments (things being pushed to/made to happen on machines), and scans (a requisite step for visibility and compliance with these machines).</p>
    <p>Deployments have a number of possible statuses, represented by colors in the bars (with tooltip labels as well). These match existing module functionality, making it easy for users to identify what they are seeing.</p>
    <p>For scans the important piece of data is more binary; simply knowing if a machine was performing a given scan or not. With that in mind I used a single color to represent scan activity, which also helps differentiate that tab from deployments.</p>
    <a href="{{base}}/assets/images/tanium-activity-bars-collage.jpg" target="_blank">
      <img class="inline-image limit-width-image" src="{{base}}/assets/images/tanium-activity-bars-collage.jpg">
    </a>
  </div>
</section>
<section>
  <div class="container">
    <h2>Progressive Detail</h2>
    <p>One theme I pushed with this design was offering levels of detail for users to access:</p>
    <ul>
      <li>A persistent small icon representing simply which endpoints in an environment are doing "something". If a user performs an action they think should result in heavy activity but they don't see that reflected, they know they need to dig deeper.</li>
      <li>A side panel that has aggregate data at the top of the panel. This allows for a quick judgment for a user to say "this looks okay to me" or "I need to learn more".</li>
      <li>More context further down in the panels. Breaking apart the data by product module or activity allows for a more specific understanding of what's happening.</li>
      <li>New page views for the most detail. If a user needs to really dig in to the data, I added links to very detailed page views which mirror the structure of the panel but with a greater level of detail.</li>
    </ul>
  </div>
  <a href="{{base}}/assets/images/tanium-activity-progressive-collage.jpg" target="_blank">
    <img src="{{base}}/assets/images/tanium-activity-progressive-collage.jpg">
  </a>
</section>
<div class="color-bar--dark">
  <div class="container">
    <h2>Outcome</h2>
    <p>The activity panel and pages were implemented in the platform, and later rolled into the development of Tanium Feed which built upon this functionality with additional features around curation and recommendations.</p>
  </div>
</div>
