<div class="hero-tanium-nav">
  <div class="container">
    <h1 class="head">Tanium Navigation Redesign</h1>
    <h2 class="subhead">Platform wide update for scalability and growth.</h2>
  </div>
  <a href="{{base}}/assets/images/tanium-nav-hero.jpg" target="_blank">
    <img alt="A representative image of redesigned software navigation" src="{{base}}/assets/images/tanium-nav-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>The Tanium platform experienced strong growth over several years but its traditional top navigation menu didn't scale well for new features and functionality. Visually, the sentiment was that it was also feeling outdated at times, so I was tasked with designing a solution that would address these issues.</p>
    <a href="{{base}}/assets/images/tanium-nav-issues-collage.jpg" target="_blank">
      <img alt="Current user interface" class="inline-image limit-width-image" src="{{base}}/assets/images/tanium-nav-issues-collage-2.jpg">
    </a>
    <p>I began by making sure we had agreement on scope with the current pattern, documenting issues and discussing with product and engineering leadership. After evaluating their input, I worked on some navigation redesigns with moving to a left nav supporting some concept of expansion and collapse as a primary option.</p>
  </div>
  <a href="{{base}}/assets/images/tanium-nav-collage.jpg" target="_blank">
    <img alt="Iterations on side navigation" src="{{base}}/assets/images/tanium-nav-collage.jpg">
  </a>
  <div class="container">
    <h2>Balancing existing user concerns with new changes</h2>
    <video width="460" controls class="float-left-image" loop>
      <source src="https://res.cloudinary.com/browningeric/video/upload/q_87/v1662664884/menu-rollover.mp4" type="video/mp4" />
    </video>
    <p>It quickly became clear that we needed to tread lightly with the structure and layout of what we were proposing. The overall navigation of the platform had been mostly unchanged for years and frustrating our large client base was not an option.</p>
    <p>With that in mind we moved away from more novel side-nav concepts (even if they improved on some heuristic) toward solutions that shifted the overall structure, but kept many of the existing sub-navigation patterns the same. Users felt like this was a smaller change and more manageable since there was less to relearn.</p>
  </div>
  <div class="container">
    <video width="460" controls class="float-right-image" loop>
      <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_1260/v1662747214/subnav.mp4" type="video/mp4" />
    </video>
    <p>I strove to manage what was being displayed on the screen at all times with overall usability and clarity. Using icons for a persistent view, but offering an instant display of full text when a user interacted with the menu struck a good balance between these goals and was well received.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Forming a team</h2>
    <p>I began the project as the sole UX resource, but soon realized that the scope and value of what we could build here justified a larger team. I brought on a graduate-level intern I was mentoring, and a more junior designer focused on research as well. They helped with brainstorming and became heavily involved in planning and assisting with user research sessions.</p>
  </div>
  <div class="container">
    <h2>Expanded Search Experiences</h2>
    <p>One of my strongest insights with this project was the introduction of a set of new experiences for searching-type features.</p>
    <p>Even with the main navigation moved to a side nav, we still needed a top nav area for some tertiary functions. I used the newly available screen real estate to include always on access to several search-based functions within the platform. Previously these were available only on certain views, not from anywhere in the platform.</p>
  </div>
  <video width="100%" controls class="inline-image limit-width-image">
    <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_1870/v1662746628/omnisearch.mp4" type="video/mp4" />
  </video>
  <div class="container">
    <h2>Why not a single search?</h2>
    <p>I advocated for a single search design encompassing all of the options, but there were technical challenges preventing it from being implemented at that time. There was strong support for this from many team members, and I feel it would make for an even cleaner and more obvious experience for users.</p>
    <a href="{{base}}/assets/images/tanium-navigation-alternate.jpg" target="_blank">
      <img alt="Alternative search option in main nav area" class="inline-image limit-width-image" src="{{base}}/assets/images/tanium-navigation-alternate.jpg">
    </a>
  </div>
</section>
<section>
  <div class="container">
    <h2>Data</h2>
    <p>We needed to validate our ideas and truly vet the concept before moving forward. I worked with my team to conduct evaluative customer research sessions. Our script involved asking users to accomplish a series of tasks in the new interface prototype, and rating several aspects on a Likert-type scale.</p>
    <a href="{{base}}/assets/images/tanium-nav-research-collage-wide.jpg" target="_blank">
      <img alt="Slides from a deck summarizing research findings" class="float-right-image limit-width-image" src="{{base}}/assets/images/tanium-nav-research-collage-wide.jpg">
    </a>
    <p>I lead the sessions myself, gaining valuable insights from customers and seeing how they would accomplish tasks in the new interface. We presented our findings to the leadership team, and our enthusiasm for the project helped get it added to engineering roadmaps.</p>
  </div>
</section>
<section>
    <a href="{{base}}/assets/images/tanium-nav-specs.jpg" target="_blank">
      <img alt="Images of documentation" src="{{base}}/assets/images/tanium-nav-specs.jpg">
    </a>
    <div class="container">
    <h2>Specs for developers</h2>
    <p>I worked closely with developers to properly scope the feature and think through edge cases and details. I created detailed deliverables to try and document decisions, rationale, and intent to better help the whole team understand what we were building and why.</p>
    <h2>Design system components</h2>
    <p>Additionally, I built a number of extensible components and variants into our design system in Figma so that other designers could easily incorporate the new features into their work.</p>
    <a href="{{base}}/assets/images/tanium-nav-design-system.jpg" target="_blank">
      <img alt="Componentry in Figma" class="limit-width-image" src="{{base}}/assets/images/tanium-nav-design-system.jpg">
    </a>
  </div>
</section>
