<div class="hero-taniumactivity">
  <div class="container">
    <h1 class="head">Tanium Quick Access</h1>
    <h2 class="subhead">Supercharging user navigation.</h2>
  </div>
  <a href="{{base}}/assets/images/peak-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>A feature of the Tanium interface allowed users to place quick links to specific views on various overview pages they had access to. These were not being used at a level we wanted though, and I was tasked with finding a way to increase adoption without requiring extensive back-end resources to build.</p>
  </div>
  <div class="container">
    <h2>Meeting Users Preferences</h2>
    <p>A high percentage of our users are keyboard users, but we offered them little in the platform, outside of basic accessibility and functionality.</p>
    <p>I started exploring keyboard shortcut ideas, and realized this was a perfect fit to access the quick links functionality. Instead of being limited to certain views, a user could use a keyboard shortcut to search from a list of available quick links.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Prioritization and Design</h2>
    <p>We decided to focus on two broad areas of data: deployments (things being pushed to happen on machines), and scans (a requisite step for visibility and compliance with these machines).</p>
    <p>Deployments have a number of possible statuses, represented by colors in the bars (with tooltip labels as well). This matches existing module functionality, so it was easy for users to identify what they were seeing.</p>
    <p>With scans, the important piece of data is more binary; simply knowing if a machine was performing a given scan or not. With that in mind I used a single color to represent scan activity, which also helps differentiate that tab from deployments.</p>
  </div>
  <a href="{{base}}/assets/images/peak-element-collage.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-element-collage.jpg">
  </a>
</section>
<section>
  <div class="container">
    <p>For non-standard UI pieces, I leveraged paper prototypes to quickly test ideas and explore layout options.</p>
    <a href="{{base}}/assets/images/peak-paper-prototype.jpg" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-paper-prototype.jpg">
    </a>
  </div>
</section>
<section>
  <div class="container">
    <h2>Progressive Detail</h2>
    <p>One theme I pushed here was offering levels of detail for users to access:</p>
    <ul>
      <li>A persistent small icon representing simply which endpoints in an environment are doing "something". If a user performs an action they think should result in heavy activity but they don't see that reflected, they know they need to dig deeper.</li>
      <li>A side panel that has aggregate data at the top of the panel. Again this allows for a quick judgment for a user to say "this looks okay to me" or "I need to learn more".</li>
      <li>More context further down in the panels. Breaking apart the data by product module or activity allows for a more specific understanding of what's happening.</li>
      <li>New page views for the most detail. If a user needs to really dig in to the data, I added links to very detailed page views which mirror the structure of the panel but with a greater level of detail.</li>
    </ul>
  </div>
  <a href="{{base}}/assets/images/peak-main-nav-discussion.jpg" target="_blank">
    <img class="inline-image limit-width-image" src="{{base}}/assets/images/peak-main-nav-discussion.jpg">
  </a>
</section>

<section>
  <div class="color-bar--dark">
    <div class="container">
      <h2>Outcome</h2>
      <p>I led the team that conducted evaluative research with a variety of customers for this project.</p>
    </div>
    <a href="{{base}}/assets/images/peak-mobile-wireframes.jpg" target="_blank">
      <img src="{{base}}/assets/images/peak-mobile-wireframes.jpg">
    </a>
  </div>
</section>

<a class="inline-image limit-width-image" href="{{base}}/assets/images/peak-map-variants.jpg" target="_blank">
  <img src="{{base}}/assets/images/peak-map-variants.jpg">
</a>
<section>
  <div class="container">
    <h2>Planning and testing</h2>
    <p>Building a MVP meant that we didn't have an actual user group to test or solicit feedback from. We leveraged a small group of testers to quickly evaluate prototypes and ideas. I also employed simulated eye-tracking on major views to ensure the layouts were focusing on the right things.</p>
    <a class="inline-image" href="{{base}}/assets/images/peak-tests.jpg" target="_blank">
      <img src="{{base}}/assets/images/peak-tests.jpg">
    </a>
  </div>
  <a class="inline-image limit-width-image" href="{{base}}/assets/images/peak-events.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-events.jpg">
  </a>
</section>

<section>
  <div class="container">
    <h2>What I learned</h2>
    <p>Working with a large team spread across multiple regions, languages, and timezones was challenging. There were times when I had to work in an inefficient way to better fit another team's requirements, and I always had to balance the volume of feedback with my own experience and the stated priorities.</p>

    <p>Documentation was key every step of the way, and I created various diagrams and flow charts to keep everyone on the same page.</p>
    <a href="{{base}}/assets/images/peak-documentation.png" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-documentation.png">
    </a>
  </div>
  <a href="{{base}}/assets/images/peak-fold-versions.jpg" target="_blank">
    <img class="inline-image limit-width-image" src="{{base}}/assets/images/peak-fold-versions.jpg">
  </a>
  <div class="container">
    <a href="{{base}}/assets/images/peak-icon-ideas.png" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-icon-ideas.png">
    </a>
  </div>

  <div class="container">
    <h2>Results</h2>
    <p>MVP product launched within original timeframe goals. The application worked well for a lengthy sales cycle, eventually being by acquired Azuga who is currently representing it as an option for independent insurance agencies.</p>
  </div>
</section>
