<div class="hero-taniumpatchanddeploy">
  <div class="container">
    <h1 class="head">Tanium Patch and Deploy Modules</h1>
    <h2 class="subhead">UX ownership and leadership for IT Ops products</h2>
  </div>
  <a href="{{base}}/assets/images/tanium-patchanddeploy-hero.jpg" target="_blank">
    <img alt="Examples of Tanium Patch and Deploy interface" src="{{base}}/assets/images/tanium-patchanddeploy-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>Patch and Deploy are two of the most widely used (>30m endpoints managed) IT Operations products at Tanium. I was tasked with ownership of their user experience. This led to a number of significant features, improvements, and activities over several years. A few examples of that work are highlighted here.</p>
  </div>
  <div class="container">
    <h2>Why weren't users using automation features?</h2>
    <p>I co-lead a research effort with engineering and product leadership to answer the question of why some of our automation features were not seeing much usage. Contextual interview sessions were held to understand the mental models and workflows of new and veteran users. We observed routine deployment tasks, and sought input on workflows.</p>
    <p>Our cross functional team then workshopped to analyze the data and understand the stories that were emerging, using affinity diagrams and mapping user journeys.</p>
    <p><strong>What did we learn?</strong> A number of things, but one of the biggest was that automation is scary to IT Ops professionals. The complexities of their environments and the stakes involved meant that they were unlikely to adopt much automation, no matter how well we built it.</p>
  </div>
  <a href="{{base}}/assets/images/tanium-patchanddeploy-workshop-collage.jpg" target="_blank">
    <img alt="A small group people collaborating at a UX workshop" src="{{base}}/assets/images/tanium-patchanddeploy-workshop-collage.jpg">
  </a>
</section>
<section>
  <div class="container">
    <h2>First Solution: A Readiness Widget</h2>
    <p>With understanding from our research and input from our customer success group I prototyped a design for a recurring display of readiness to perform OS Patching. We had learned that a true "easy button" scared users, but helping them understand exactly what was going to happen and why with their regular patch cadence would be a huge benefit.</p>
    <p>OS Patches are released on a regular cadence. When this occurs, operators want to know which machines are ready to be updated, which do not meet some prequalifications, and tooling issues or anything else that may lead to unexpected results.</p>
    <p>My early versions were well received, but implied too much of a linear flow whereas the actual workflow was more of a broad checklist.</p>
    <a href="{{base}}/assets/images/tanium-patchanddeploy-readiness-old.jpg" target="_blank">
      <img alt="A software widget to aggregate time sensitive OS patch readiness data" class="inline-image limit-width-image" src="{{base}}/assets/images/tanium-patchanddeploy-readiness-old.jpg">
    </a>
  </div>
  <div class="container">
    <p>The final iteration focused on the broad categories the most likely to cause problems or unexpected results for operators in a patch deployment scenario.</p>
  </div>
    <video width="100%" controls class="inline-image limit-width-image" loop>
      <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_1643/v1662902676/readiness.mp4" type="video/mp4" />
    </video>
  <div class="container">
    <p>This data already existed in the platform, but required users to have the knowledge to know where to look and the planning to seek out everything on time. Offering all the relevant data in a simple obvious display was great step forward. Each category can be expanded, to view more details about potential issues and begin remediation.</p>
  </div>
  <a href="{{base}}/assets/images/tanium-patchanddeploy-readiness-2.jpg" target="_blank">
    <img alt="An additional view of OS patch readiness data" class="inline-image limit-width-image" src="{{base}}/assets/images/tanium-patchanddeploy-readiness-2.jpg">
  </a>
</section>
<section>
  <div class="color-bar--dark">
    <div class="container">
      <h2>Second Solution: End User Self Service</h2>
      <p>Historically an administrator of Tanium would deploy software to user's machines to install new tools, update to new versions, etc.</p>
      <p>My second solution was a desktop application where users themselves would be able to choose what software to install or update and when on their machines. By giving end users control in some scenarios, the chance of environment-wide mistakes or issues could be greatly reduced.</p>
    </div>
    <video width="100%" controls class="inline-image limit-width-image" loop>
      <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_1643/v1662858819/euss.mp4" type="video/mp4" />
    </video>
    <div class="container">
      <p>The first Tanium product to be used by non-expert users, End User Self Service (EUSS) was launched as an MVP product with a simple design language. I gathered customer and stakeholder feedback which pointed to a need for expanded functionality and an updated design. I created this more modern and full featured experience for the second version of EUSS, which is in wide use today.</p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Results</h2>
    <p>Over time, these features helped improve satisfaction and usage of the modules, as measured by SUS scores, direct customer feedback, and customer service-team heuristics.</p>
    <h3>Automation Features increased utilizations: ~8% yoy</h3>
    <h3>TAM support requests for these areas: -19% yoy</h3>
    <p>I worked on a number of different additional features with Patch and Deploy including a front-end redesign, localization efforts, and support for new OS platforms.</p>
    <p>They remain the most widely used Tanium product modules.</p>
  </div>
</section>
