<div class="hero-taniumnav">
  <div class="container">
    <h1 class="head">Tanium Navigation Redesign</h1>
    <h2 class="subhead">Platform wide update for scalability and growth.</h2>
  </div>
  <a href="{{base}}/assets/images/peak-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>The Tanium platform experienced strong growth over several years but its traditional top navigation menu didn't scale well for new features and functionality. Visually, the sentiment was that it was also feeling outdated at times, so I was tasked with designing a solution that would address these issues.</p>
  </div>
  <div class="container">
    <h2>My role</h2>
    <p>I began the project as a designer, but soon realized that the scope and value of what we could build here justified a larger team. I brought on a graduate-level intern I was mentoring, and a more junior designer as well. They helped with brainstorming and became heavily involved in planning and assisting with user research sessions.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Balancing Existing User Concerns with New Changes</h2>
    <p>It quickly became clear that we needed to tread lightly with the structure and layout of what we were proposing. The overall navigation of the platform had been mostly unchanged for years and frustrating our large client base was not an option. With that in mind we moved toward solutions that changed the overall structure (top nav to side nav), but kept many of the existing sub-navigation patterns the same. Users felt like this was a smaller change and more manageable since there was less to relearn.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Expanded Search Experiences</h2>
    <p>One of my strongest insights with this project was the introduction of a set of new experiences for searching-type features.</p>
    <p>Even with the main navigation moved to a side nav, we still needed a top nav area for some tertiary functions. I used the newly available screen real estate to include always on access to several search-based functions within the platform. Previously these were available only on certain views, not from anywhere in the platform.</p>
    <p>This was incredibly well received by users. They praised the quick acccess to those features and indicated they would use them more with this interface. Many also saw this as a justification to moving to the side navigation, which was an important benefit. Users are rarely excited about navigation changes but if you offer them some obviously improved functionality it helps smooth over the transition.</p>
    <p>While outside the initial scope of the project, I articulated my reasoning to leadership and this became one of the most well-liked aspects of this project.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Data</h2>
    <p>We needed to validate our ideas and truly vet the concept before moving forward. I worked with my team to conduct evaluative customer research sessions. I lead the sessions myself, gaining valuable insights from customers and seeing how they would accomplish tasks in the new interface. We presented our findings to the leadership team, and our enthusiasm for the project helped get it added to engineering roadmaps.</p>
  </div>
</section>
