<div class="hero-taniumnav">
  <div class="container">
    <h1 class="head">Tanium Navigation Redesign</h1>
    <h2 class="subhead">Platform wide updates for scalability and growth.</h2>
  </div>
  <a href="{{base}}/assets/images/peak-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>The Tanium platform experienced strong growth over several years. The traditional top navigation menu didn't scale well for new features and functionality. It was also feeling outdated visually at times, so I was tasked with designing a solution that would address these issues. </p>
  </div>
  <div class="container">
    <h2>My role</h2>
    <p>I began the project as a designer, but quickly realized that the scope and value of what we could build here justified a larger team. I brought on a graduate-level intern I was mentoring, and a more junior designer as well. They helped with brainstorming and became heavily involved in planning and assisting with user research sessions.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Balancing Existing User Concerns with New Changes</h2>
    <p>It quickly became clear that we needed to tread lightly with the structure and layout of what we built. The overall navigation of the platform went mostly unchanged for years. Frustrating our large client base was not an option. With that in mind, we moved toward solutions that changed the overall structure (top nav to side nav), but kept as much of the existing sub-navigation patterns the same. Users felt like this was a smaller change, and more manageable since there was less to relearn.</p>
  </div>
  <a href="{{base}}/assets/images/peak-element-collage.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-element-collage.jpg">
  </a>
</section>
<section>
  <div class="container">
    <p>For non-standard UI pieces, I leveraged paper prototypes to quickly test ideas and explore layout options.</p>
    <a href="{{base}}/assets/images/peak-paper-prototype.jpg" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-paper-prototype.jpg">
    </a>
  </div>
</section>
<section>
  <div class="container">
    <h2>Expanded Search Experiences</h2>
    <p>One of my best insights with this project was the introduction of a set of new experiences for searching-type features.</p>
    <p>Even with the main navigation moved to a side nav, we needed a top nav area for some tertiary functions. I used the newly available screen real estate to include always on access to several search-based functions within the platform. Previously these were available on certain views, but not from anywhere in the platform.</p>
    <p>This was incredibly well received by users. They praised the quick acccess to those features, and indicated they would use them more with this interface. Many also saw this as a justification to moving to the side navigation, which was an important benefit. Users are very rarely excited about moving navigation around, but offer them obviously improved functionality and it helps smooth over the transition.</p>
    <p>While outside the initial scope of the project, I articulated my reasoning to leadership and this became one of the most liked aspects of this project.</p>
  </div>
  <a href="{{base}}/assets/images/peak-main-nav-discussion.jpg" target="_blank">
    <img class="inline-image limit-width-image" src="{{base}}/assets/images/peak-main-nav-discussion.jpg">
  </a>
</section>

<section>
  <div class="color-bar--dark">
    <div class="container">
      <h2>Research</h2>
      <p>I led the team that conducted evaluative research with a variety of customers for this project. </p>
    </div>
    <a href="{{base}}/assets/images/peak-mobile-wireframes.jpg" target="_blank">
      <img src="{{base}}/assets/images/peak-mobile-wireframes.jpg">
    </a>
  </div>
</section>

<a class="inline-image limit-width-image" href="{{base}}/assets/images/peak-map-variants.jpg" target="_blank">
  <img src="{{base}}/assets/images/peak-map-variants.jpg">
</a>
<section>
  <div class="container">
    <h2>Planning and testing</h2>
    <p>Building a MVP meant that we didn't have an actual user group to test or solicit feedback from. We leveraged a small group of testers to quickly evaluate prototypes and ideas. I also employed simulated eye-tracking on major views to ensure the layouts were focusing on the right things.</p>
    <a class="inline-image" href="{{base}}/assets/images/peak-tests.jpg" target="_blank">
      <img src="{{base}}/assets/images/peak-tests.jpg">
    </a>
  </div>
  <a class="inline-image limit-width-image" href="{{base}}/assets/images/peak-events.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-events.jpg">
  </a>
</section>

<section>
  <div class="container">
    <h2>What I learned</h2>
    <p>Working with a large team spread across multiple regions, languages, and timezones was challenging. There were times when I had to work in an inefficient way to better fit another team's requirements, and I always had to balance the volume of feedback with my own experience and the stated priorities.</p>

    <p>Documentation was key every step of the way, and I created various diagrams and flow charts to keep everyone on the same page.</p>
    <a href="{{base}}/assets/images/peak-documentation.png" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-documentation.png">
    </a>
  </div>
  <a href="{{base}}/assets/images/peak-fold-versions.jpg" target="_blank">
    <img class="inline-image limit-width-image" src="{{base}}/assets/images/peak-fold-versions.jpg">
  </a>
  <div class="container">
    <a href="{{base}}/assets/images/peak-icon-ideas.png" target="_blank">
      <img class="inline-image" src="{{base}}/assets/images/peak-icon-ideas.png">
    </a>
  </div>

  <div class="container">
    <h2>Results</h2>
    <p>MVP product launched within original timeframe goals. The application worked well for a lengthy sales cycle, eventually being by acquired Azuga who is currently representing it as an option for independent insurance agencies.</p>
  </div>
</section>
