<div class="hero-taniumdeployments">
  <div class="container">
    <h1 class="head">Tanium Deployment Experience</h1>
    <h2 class="subhead">Guiding users through complexity.</h2>
  </div>
  <a href="{{base}}/assets/images/peak-hero.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <h2>The challenge</h2>
    <p>A core feature of the Tanium platform is deploying to endpoints. That is, pushing data and commands to any number of machines, very quickly and securely. Unfortunately doing that fundamental task became complex and unwieldy for users.</p>
  </div>
  <div class="container">
    <h2>The concept</h2>
    <p>Over time, additional features, safeguards, and user customizations had made the deployment experience feel complex and intimidated (validated by many points of user feedback). There was solid rationale for each of the features though; many of our customers needed them for mission critical tasks, so simply removing things wasn't the solution.
    </p>
    <p>Faced with this necessary complexity, I began to design a series of enhancements to the deployment view and the resulting detail view where progress is monitored.</p>
  </div>
</section>
<section>
  <div class="container">
    <h2>Defaults and Required Inputs</h2>
    <p>The forms contained a number of fields populated by default, but they were still always exposed leading to page clutter and confusion/</p>
    <p>One feature of my redesign was to introduce collapsible sections. If a section had defaults and didn't require user input, it would appear as collapsed with summary information showing.</p>
    <p>Sections that needed user input to continue had several affordances introduced; they received an outline and iconography, and appeared expanded by default.</p>
  </div>
  <a href="{{base}}/assets/images/peak-element-collage.jpg" target="_blank">
    <img src="{{base}}/assets/images/peak-element-collage.jpg">
  </a>
</section>
<section>
  <div class="container">
    <h2>Consistency and Efficiency</h2>
    <p>Additional user feedback highlighted the need for better consistency in the deployment experience between different product modules and contexts. I led a cross functional team of engineers and SMEs to create consistency where we could, and document differences.</p>
    <p>We also responded to user feedback to make better use of horizontal space. Where it made sense contextually we tightened up layouts vertically using more columns in our patterns.</p>
  </div>
  <div class="container">
    <h2>Results</h2>
    <p>Quote? The revamped experiences were launched to good feedback from customers. Several more product workflows were brought into this style and it remains a vital piece of using the platform.</p>
  </div>
</section>
