<div class="hero-tanium-activity">
  <div class="container">
    <h1 class="head">Tanium Activity</h1>
    <h2 class="subhead">Conveying real-time visibility in a manageable way</h2>
  </div>
  <a href="{{base}}/assets/images/tanium-activity-hero.jpg" target="_blank">
    <img alt="Visuals of a real-time data interface" src="{{base}}/assets/images/tanium-activity-hero.jpg">
  </a>
</div>

<section>
  <div class="container">
    <video width="100%" autoplay muted class="float-right-image floated-image" loop>
      <source src="https://res.cloudinary.com/browningeric/video/upload/c_scale,w_581/v1699033981/tan-activity.mov" type="video/mp4" />
    </video>
    </a>
    <h2>How can we show real time data for huge on-prem and cloud networks from anywhere?</h2>
    <P>Tanium excelled at capturing and working with real-time data, but the interface to use the platform was a menagerie of largely disparate and static views relying on domain knowledge for where to go and what to look for.</p> 
    <p>I was given the task of designing a solution to provide insight into what is currently happening in the customer's environment.</p>
    <div class="space-top">
      <b>Responsibilities</b>
      <ul class="role-list">
        <li>user and stakeholder research</li>
        <li>UI design</li>
        <li>prototyping</li>
        <li>executive presentations</li>
      </ul>
    </div>
  </div>
</section>
<hr>
<section>
  <div class="container flex-container">
    <h2 class="highlight-purple flex-primary-container">What's important to users?</h2>
    <div class="">
      <p>I interviewed a variety of users to understand what they needed and why our current solutions weren't working.</p>
      <b>Interviewees</b>
      <ul class="role-list">
        <li>Subject matter experts</li>
        <li>Current users (IT Administrators)</li>
        <li>In-house <abbr title="Technical Account Managers">TAMs</abbr></li>
      </ul>
      <a href="{{base}}/assets/images/tanium-activity-research-chat.png" target="_blank">
        <img alt="Research findings." class="limit-width-image--smaller--left" src="{{base}}/assets/images/tanium-activity-research-chat.png">
      </a>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="highlight-purple ">Primary use cases</h2>
    <p>Users wanted to do answer essentially 3 broad questions using real time data:</p>
    <div class="flex-container">
      <a href="{{base}}/assets/images/tanium-activity-use-cases-1.png" target="_blank">
        <img alt="Research findings." class="" src="{{base}}/assets/images/tanium-activity-use-cases-1.png">
      </a>
      <a href="{{base}}/assets/images/tanium-activity-use-cases-2.png" target="_blank">
        <img alt="Research findings." class="" src="{{base}}/assets/images/tanium-activity-use-cases-2.png">
      </a>
      <a href="{{base}}/assets/images/tanium-activity-use-cases-3.png" target="_blank">
        <img alt="Research findings." class="" src="{{base}}/assets/images/tanium-activity-use-cases-3.png">
      </a>
    </div>
  </div>
</section>
<section>
<div class="container container--limited">
  <h2 class="highlight-purple ">Further detail</h2>
  <p>Digging deeper into the data, a few additional themes emerged.</p>

  <p><b>Users needed aggregate data</b> as many environments manage > 100,000 endpoints; displaying individual endpoint data would be way too noisy to be useful, and that's available elsewhere in the platform.</p>

  <p>Rather than all data (<~100 types of activity), users were interested in a <b>handful of highly impactful tasks</b> like machines performing scans, software updates being installed, etc.</p>
</div>
</section>
  <div class="container">
    <h2 class="highlight-purple">Prioritization and Design</h2>
    <p>We decided to focus on two broad areas of data: deployments (things being pushed to/made to happen on machines), and scans (a requisite step for visibility and compliance with these machines).</p>
    <p>Deployments have a number of possible statuses, represented by colors in the bars (with tooltip labels as well). These match existing module functionality, making it easy for users to identify what they are seeing.</p>
    <p>For scans the important piece of data is more binary; simply knowing if a machine was performing a given scan or not. With that in mind I used a single color to represent scan activity, which also helps differentiate that tab from deployments.</p>
    <a href="{{base}}/assets/images/tanium-activity-bars-collage.jpg" target="_blank">
      <img alt="An image highlighting differences between two data display tabs" class="inline-image limit-width-image" src="{{base}}/assets/images/tanium-activity-bars-collage.jpg">
    </a>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="highlight-purple">Progressive Detail</h2>
    <p>One theme I pushed with this design was offering levels of detail for users to access:</p>
    <ul>
      <li>A persistent small icon representing simply which endpoints in an environment are doing "something". If a user performs an action they think should result in heavy activity but they don't see that reflected, they know they need to dig deeper.</li>
      <li>A side panel that has aggregate data at the top of the panel. This allows for a quick judgment for a user to say "this looks okay to me" or "I need to learn more".</li>
      <li>More context further down in the panels. Breaking apart the data by product module or activity allows for a more specific understanding of what's happening.</li>
      <li>New page views for the most detail. If a user needs to really dig in to the data, I added links to very detailed page views which mirror the structure of the panel but with a greater level of detail.</li>
    </ul>
  </div>
  <a href="{{base}}/assets/images/tanium-activity-progressive-collage.jpg" target="_blank">
    <img alt="An image showing stages of progressive disclosure" src="{{base}}/assets/images/tanium-activity-progressive-collage.jpg">
  </a>
</section>
<div class="color-bar--dark">
  <div class="container">
    <h2>Outcome</h2>
    <p>The activity panel and pages were implemented in the platform, and later rolled into the development of Tanium Feed which built upon this functionality with additional features around curation and recommendations.</p>
  </div>
</div>
