$brand-color: #eb0c50;

.astro-hq {
  & .contact-links {
    margin-left: -.4em;
  }

  & .contact-links a {
    background: transparent;
    border: 0;
    color: #fff;
    &:focus,
    &:hover {
      background: #fff;
      border: 0;
      color: $brand-color;
    }
  }

  & .introduction {
    background-color: #3E6383;
    background-image: linear-gradient(-261deg, rgba($brand-color,0.95) 16%, rgba(#ff005e,0.95) 97%);
    padding: 3.5vmax 0 10vmax;
  }

  & .introduction::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url($baseurl + '/assets/images/astro-hq/logo.png');
      background-position: right -20vmax top -20vmax;
      background-repeat: no-repeat;
      background-size: 60vmax;
      opacity: 0.085;
      pointer-events: none;
      z-index: -1;
    }

  & .introduction-border {
      background-color: #fe3e84;
      height: 1000px;
      margin-top: -970px;
      z-index: -1;
    }


  & .introduction h1 {
    font-size: 1.85em;
    @media screen and (min-width: $middle-screen) {
      font-size: 2em;
    }
    @media screen and (min-width: $large-screen) {
      font-size: 2.75em;
    }
  }

  & .introduction h2 {
    @media screen and (min-width: $large-screen) {
      font-size: 1.7em;
    }
  }
  .resume-button {

    &:focus,
    &:hover {
      background: #fff;
      color: $brand-color;
    }
  }

  .work-intro a {
    color: $brand-color;
  }
  .work-sample--more {
    a {
      &:focus,
      &:hover {
        background: $brand-color;
        color: #fff;
      }
    }
  }
}

.astro-hq-header-image {
  display: block;
  max-width: 90px;
  @media screen and (min-width: $middle-screen) {
    max-width: 140px;
  }
  padding-bottom: .5em;
  width: 100%;
}
