.back-button {
  background: rgba(0,0,0,.65);
  box-sizing: border-box;
  color: #fff;
  font-size: .8rem;
  left: 0;
  letter-spacing: .1rem;
  opacity: .45;
  padding: .5rem 2rem;
  position: absolute;
  top: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.35s ease;
  width: 100%;

  &:focus,
  &:hover {
    opacity: 1;
  }

  @media screen and (min-width: $middle-screen) {
    border-radius: 1.5rem;
    font-size: .9rem;
    left: 1em;
    opacity: .65;
    padding: .75rem 2.25rem;
    top: 1em;
    width: auto;
  }
}

.resume-button {
  background: rgba(#fff,.3);
  border-radius: .25rem;
  color: rgba(#000, .85);
  font-size: .8rem;
  padding: .35rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.35s ease;
  @media screen and (min-width: $middle-screen) {
    border-radius: 1.4rem;
    padding: .75rem 2rem;
  }

  span {
    display: none;
    @media screen and (min-width: $middle-screen) {
      display: inline;
    }
  }

  &:focus,
  &:hover {
    background: #f5ad38;
    color: #333;
  }
}

.resume-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.75em;
}