.case-study {

  b {
    font-weight: 600;
  }

  hr {
    border: none;
    height: 1px;
    color: #d1d1d1;
    background-color: #d1d1d1;
  }
  section {
    padding: 2em 0;

    @media screen and (min-width: $large-screen) {
      padding: 3em 0;
    }
  }

  .container {
    clear: both;
  }


  .float-left-image {
    padding: 1.5em 0;
    @media screen and (min-width: $middle-screen) {
      float: left;
      padding: 1em 2em 0 1em;
    }
  }

  .float-right-image {
    padding: 1.25em 0;
    @media screen and (min-width: $middle-screen) {
      float: right;
      padding: 1em 0 1em 2em;
    }
  }

  .floated-image {
    width: 100%;
    @media screen and (min-width: $middle-screen) {
      width: 380px;
    }
  }

  .floated-left {
    @media screen and (min-width: $middle-screen) {
      float: left;
      margin-right: 1.5em;
    }
  }

  .floated-right {
    @media screen and (min-width: $middle-screen) {
      float: right;
    }
  }

  .flex-container {
    display: flex;
    flex-flow: column;
    gap: 2em;
    @media screen and (min-width: $middle-screen) {
      flex-flow: row;
    }
    .item {
      flex: 1;
      image {
        display: block;
        margin-top: 1em;
      }

    }  
  }

  .flex-image-grid {
    align-items: center;
    flex-flow: column;
    @media screen and (min-width: $middle-screen) {
      flex-flow: row wrap;
    }
    flex-grow: 1;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;

    .grid-image {
      max-width: 80%;
      @media screen and (min-width: $middle-screen) {
        max-width: 40%;
      }
    }
  }

  .flex-primary-column {
    flex-basis: 85%;
  }

  .inline-image {
    padding: 1.5em 0;
  }

  .limit-width-image {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }

  .limit-width-image--smaller {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }

  .limit-width-image--smaller--left {
    max-width: 500px;
  }

  .mini-section-header {
    margin-top: 1.5em;
  }


  .wide-container {
    max-width: 52em;
  }

  .width-40 {
    @media screen and (min-width: $middle-screen) {
      width: 40%
    }
  }

  .width-50 {
    @media screen and (min-width: $middle-screen) {
      width: 50%
    }
  }

  ul {
    padding-left: 1em;
    li {
      padding-bottom: 1em;
    }
  }

  .interview-list {
    li {
      margin-left: 100px;
    }
  }

  .role-list {
    font-size: 85%;
    margin-left: 0;
    padding-left: 0;
    li {
      border-right: 1px solid #d1d1d1;
      padding: 0 .5em;
      display: inline;
      list-style-type: none;
      vertical-align: baseline;
    }
    li:first-child {
      padding-left: 0;
    }
    li:last-child {
      border-right: none;
    }
  }

  .highlight-red {
    color: #A82122;
  }

  .highlight-maroon {
    color: #4F0B0C;
  }

  .highlight-purple {
    color: #291E6A;
  }

  .space-top {
    @media screen and (min-width: $middle-screen) {
      margin-top: 2em;
    }
  }

}

.case-study-trello {
  .container {
    max-width: 36em;
  }
}

.hearthstone-status {
  display: block;
  margin: 0 auto;
  max-width: 630px;
}
