.case-study {
  @media screen and (min-width: $large-screen) {
    font-size: 140%;

    p {
      line-height: 1.6;
    }
  }

  section {
    padding: 2em 0;

    @media screen and (min-width: $large-screen) {
      padding: 3em 0;
    }
  }

  .container {
    max-width: 40em;
  }

  .inline-image {
    padding: 1.5em 0;
  }

  .limit-width-image {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }

  .mini-section-header {
    margin-top: 1.5em;
  }
}
