.hero-craftycloud {
  background: #8f4824;
  color: #fff;
  padding-top: 4em;

  & h1 {

    font-size: 2.5em;
    text-align: center;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }
}

.hero-hearthstone {
  background: #323f2b;
  color: #fff;
  padding-top: 4em;

  & h1 {

    font-size: 2.5em;
    text-align: center;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }
}

.hero-mcto {
  background: #18475d;
  color: #fff;
  padding-top: 4em;

  & h1 {

    font-size: 2.5em;
    text-align: center;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }
}

.hero-peak {
  background: rgb(141,41,86);
  background: linear-gradient(180deg, rgba(141,41,86,1) 0%, rgba(187,70,97,1) 12%, rgba(187,70,97,1) 100%);
  color: #fff;
  padding-top: 4em;

  & h1 {
    font-size: 2.5em;
    text-align: center;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }
}

.hero-tanium-nav {
  background: #1B2029;
  background-image: linear-gradient(180deg, #1E2C3B 0%, #1B2029 20%, #1B2029 100%);
  color: #fff;
  padding-top: 3em;

  & h1 {
    font-size: 2.5em;
    text-align: center;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }
}

.hero-polar-puzzles {
  background: #9bbaf8;
  color: #232352;
  background: linear-gradient(180deg, rgba(#7699cc,1) 0%, rgba(#9bbaf8,1) 20%, rgba(#9bbaf8,1) 100%);
  padding-top: 4em;

  & h1 {

    font-size: 2.5em;
    text-align: center;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }
}

.hero-shadowrift {
  background: #201815;
  color: #fff;
  padding-top: 4em;

  & h1 {

    font-size: 2.5em;
    text-align: center;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }
}
.head {
  margin-bottom: 0;
}

.subhead {
  font-weight: normal;
  text-align: center;
}
