.hero-peak {
  background: rgb(141,41,86);
  background: linear-gradient(180deg, rgba(141,41,86,1) 0%, rgba(187,70,97,1) 12%, rgba(187,70,97,1) 100%);
  padding-top: 4em;

  & h1 {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 1600px;
  }
}
