$brand-color: #c5ea41;

.hightouch{
  & .contact-links {
    margin-left: -.4em;
  }

  & .contact-links a {
    color: #fff;
    &:focus,
    &:hover {
      background: $brand-color;
      color: #333;
    }
  }

  & .introduction {
    background-color: #fff;
    background-image: linear-gradient(135deg, rgba(31,158,112,1) 10%, rgba(2,84,85,1) 75%);
    color: #fff;
    padding: 3.5vmax 0 10vmax;
  }

  & .introduction::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url($baseurl + '/assets/images/hightouch/logo.svg');
      background-position: right -1vmax top 30%;
      background-repeat: no-repeat;
      background-size: 30vmax;
      opacity: 0.15;
      pointer-events: none;
      z-index: -1;
    }

  & .introduction-border {
      background-color: $brand-color;
      height: 1000px;
      margin-top: -950px;
      z-index: -1;
    }


  & .introduction h1 {
    font-size: 1.85em;
    @media screen and (min-width: $middle-screen) {
      font-size: 2em;
    }
    @media screen and (min-width: $large-screen) {
      font-size: 2.75em;
      max-width: 12em;
    }
  }

  & .introduction h2 {
    @media screen and (min-width: $large-screen) {
      font-size: 1.7em;
    }
  }
  .resume-button {
    background: rgba(0,0,0,.25);
    color: #fff;
    &:focus,
    &:hover {
      background: $brand-color;
      color: #333;
    }
  }

  .work-intro a {
    color: $brand-color;
  }
  .work-sample--more {
    a {
      &:focus,
      &:hover {
        background: $brand-color;
        color: #fff;
      }
    }
  }
}

.bloomfilter-header-image {
  display: block;
  max-width: 100px;
  @media screen and (min-width: $middle-screen) {
    max-width: 120px;
  }
  padding-bottom: 1.5em;
  width: 100%;
}
