.introduction {
  margin-bottom: 2.5em;
  margin-top: 3em;
  @media screen and (min-width: $large-screen) {
    margin-bottom: 4em;
    margin-top: 6.5em;
  }
}

.introduction a {
  border-bottom: 1px dotted #1472ce;
  color: #1472ce;
  margin: 0 .35em;
  padding: 0;
  text-decoration: none;
  transition: all .25s ease;
  white-space: nowrap;

  &:focus,
  &:hover {
    background: #b4dd00;
    border: 0;
    color: #333;
    margin: 0;
    padding: .35em;
  }
}

.introduction h1 {
  font-family: 'IBM Plex Sans';
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: .5em;

  @media screen and (min-width: $middle-screen) {
    font-size: 2em;
  }

  @media screen and (min-width: $large-screen) {
    font-size: 2.5em;
  }
}

.introduction p {
  font-size: 1.25em;
  @media screen and (min-width: $large-screen) {
    font-size: 1.35em;
  }
}
