.khan-academy {
  & .contact-links {
    margin-left: -.4em;
  }
  & .introduction {
    margin-top: 1em;
  }
  & .introduction a {
    &:focus,
    &:hover {
      background: #9eb643;
      color: #fff;
    }
  }
  & .introduction h1 {
    font-size: 1.85em;
    @media screen and (min-width: $middle-screen) {
      font-size: 2em;
    }
    @media screen and (min-width: $large-screen) {
      font-size: 2.75em;
    }
  }
  .resume-button {

    &:focus,
    &:hover {
      background: #9eb643;
      color: #fff;
    }
  }
  .work-sample--more {
    a {
      &:focus,
      &:hover {
        background: #9eb643;
        color: #fff;
      }
    }
  }
}

.khan-academy-header-image {
  display: block;
  max-width: 200px;
  @media screen and (min-width: $middle-screen) {
    max-width: 400px;
  }
  padding: 0 0 1.5em 1em;
  width: 100%;
}

.welcome-logo {
  align-items: flex-start;
  display: flex;
  justify-content: center;

  span {
    font-size: 1.25rem;
    @media screen and (min-width: $middle-screen) {
      font-size: 2.5rem;
    }
  }
}
