$brand-color: #0059a2;

.paychex{

  & .contact-links {
    display: none; 
    font-size: 75%;
    margin: 0;
    @media screen and (min-width: $middle-screen) {
      display: inline-block;
    }

  }

  & .contact-links a {
    color: #333;
    text-decoration: none;
    &:focus,
    &:hover {
      background: $brand-color;
      color: #fff;
    }
  }

  & .introduction {
    background-color: #333;
    background-image: linear-gradient(0deg, rgba(#F3F7FA,1) 10%, rgba(#F3F7FA,1) 90%);
    color: #333;
    padding: 1.5vmax 0 3vmax;
    @media screen and (min-width: $large-screen) {
      padding: 1.5vmax 0 5vmax;
    }
  }

  & .introduction::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0; 
      background-image: url($baseurl + '/assets/images/paychex/logo.svg');
      background-position: left 1vmax top 30%;
      background-repeat: no-repeat;
      background-size: 100%;
      pointer-events: none;
      z-index: -1;
      @media screen and (min-width: $middle-screen) {
        opacity: 0;
      }
    }

  & .introduction-border {
      background-color: #fff;
      height: 900px;
      @media screen and (min-width: $middle-screen) {
        height: 1000px;
      }
      margin-top: -950px;
      z-index: -1;
    }


  & .introduction h1 {
    font-size: 1.75em;
    font-weight: 500;
    text-align: center;
    @media screen and (min-width: $middle-screen) {
      font-size: 2em;
    }
    @media screen and (min-width: $large-screen) {
      font-size: 2em;
      max-width: none;
    }
  }

  & .introduction h2 {
    @media screen and (min-width: $large-screen) {
      font-size: 1.5em;
    }
  }

  .flex-container {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $middle-screen) { 
      flex-direction: row;
    }
    gap: 1em;
    margin: -1em 0 0;
  }

  .logo {
    max-width: 140px;
    opacity: 0;
    @media screen and (min-width: $middle-screen) {
      opacity: 1;
    }
  }

  .resume-button {
    background: $brand-color;
    color: #fff;
    &:focus,
    &:hover {
      background: rgba(#000,.725);
    }
  }

  .work-intro a {
    color: $brand-color;
  }
  .work-sample--more {
    a {
      &:focus,
      &:hover {
        background: $brand-color;
        color: #fff;
      }
    }
  }
}

.bloomfilter-header-image {
  display: block;
  max-width: 100px;
  @media screen and (min-width: $middle-screen) {
    max-width: 120px;
  }
  padding-bottom: 1.5em;
  width: 100%;
}
