$brand-color: #76a926;

.progressive{
  & .contact-links {
    margin-left: -.4em;
  }

  & .contact-links a {
    color: #fff;
    &:focus,
    &:hover {
      background: $brand-color;
    }
  }

  & .introduction {
    background-color: #2480fe;
    background-image: none;
    padding: 3.5vmax 0 10vmax;
  }

  & .introduction::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url($baseurl + '/assets/images/progressive/logo.svg');
      background-position: right -10vmax top 5vmax;
      background-repeat: no-repeat;
      background-size: 100vmax;
      opacity: 0.05;
      pointer-events: none;
      z-index: -1;
    }

  & .introduction-border {
      background-color: #3a73e3;
      height: 1000px;
      margin-top: -950px;
      z-index: -1;
    }


  & .introduction h1 {
    font-size: 1.85em;
    @media screen and (min-width: $middle-screen) {
      font-size: 2em;
    }
    @media screen and (min-width: $large-screen) {
      font-size: 2.75em;
      max-width: 11em;
    }
  }

  & .introduction h2 {
    @media screen and (min-width: $large-screen) {
      font-size: 1.7em;
    }
  }
  .resume-button {

    &:focus,
    &:hover {
      background: $brand-color;
      color: #fff;
    }
  }

  .work-intro a {
    color: #2480fe;
  }
  .work-sample--more {
    a {
      &:focus,
      &:hover {
        background: $brand-color;
        color: #fff;
      }
    }
  }
}

.progressive-header-image {
  display: block;
  max-width: 100px;
  @media screen and (min-width: $middle-screen) {
    max-width: 170px;
  }
  padding-bottom: 1.5em;
  width: 100%;
}
