.skills-container {
  @media screen and (min-width: $almost-middle-screen) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  margin: 1.5em auto 1em;
  max-width: 40em;

  ul {
    background: rgba(#7ed321, .03);
    border: 1px solid #7ed321;
    margin-left: 0;
    min-width: 10em;
    padding: 1em;
  }

  ul li {
    line-height: 1.75;
    list-style-type: none;
  }

  .technical-list {
    background: rgba(#f5a623,.03);
    border-color: #f5a623;
  }

  .ux-list {
    background: rgba(#1472ce,.03);
    border-color: #1472ce;
  }
}

.skills-header {
  text-align: center;

  h2 {
    font-size: 2em;
  }

  .description {
    display: block;
    margin: 0 auto;
    max-width: 28em;
  }

  .subhead {
    font-size: 75%;
    letter-spacing: .05em;
    text-transform: uppercase;
  }
}

.skills-subhead {
  color: #7ed321;
  font-size: 85%;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.skills-subhead--team {
  color: #1472ce;
}

.skills-subhead--technical {
  color: #f5a623 ;
}

.skills-list {
}
