$brand-color: #ffab4a;

.trello {
  & .contact-links {
    margin-left: -.4em;
  }

  & .contact-links a {
    color: $brand-color;
    &:focus,
    &:hover {
      background: $brand-color;
      color: #fff;
    }
  }

  & .introduction {
    background-color: #3E6383;
    background-image: linear-gradient(-85deg, rgba(0,144,228,0.95) 9%, rgba(0,122,193,0.95) 79%);
    padding: 3.5vmax 0 10vmax;
  }

  & .introduction::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url($baseurl + '/assets/images/trello/logo.svg');
      background-position: right -20vmax top -20vmax;
      background-repeat: no-repeat;
      background-size: 60vmax;
      opacity: 0.15;
      pointer-events: none;
      z-index: -1;
    }

  & .introduction-border {
      background-color: #1c89c8;
      height: 1000px;
      margin-top: -950px;
      z-index: -1;
    }

 
  & .introduction h1 {
    font-size: 1.85em;
    @media screen and (min-width: $middle-screen) {
      font-size: 2em;
    }
    @media screen and (min-width: $large-screen) {
      font-size: 2.75em;
    }
  }

  & .introduction h2 {
    @media screen and (min-width: $large-screen) {
      font-size: 1.7em;
    }
  }
  .resume-button {

    &:focus,
    &:hover {
      background: $brand-color;
      color: #fff;
    }
  }

  .work-intro a {
    color: $brand-color;
  }
  .work-sample--more {
    a {
      &:focus,
      &:hover {
        background: $brand-color;
        color: #fff;
      }
    }
  }
}

.trello-header-image {
  display: block;
  max-width: 80px;
  @media screen and (min-width: $middle-screen) {
    max-width: 100px;
  }
  padding-bottom: 1.5em;
  width: 100%;
}
