$brand-color: #370304;

.verified{
  & .contact-links {
    margin-left: -.4em;
  }

  & .contact-links a {
    color: #333;
    &:focus,
    &:hover {
      background: $brand-color;
      color: #fff;
    }
  }

  & .introduction {
    background-color: #fff;
    background-image: linear-gradient(0deg, rgba(#EEE9DE,1) 10%, rgba(#EEE9DE,1) 90%);
    color: #333;
    padding: 3.5vmax 0 10vmax;
  }

  & .introduction::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-image: url($baseurl + '/assets/images/verified/logo.svg');
      background-position: right -2vmax top 30%;
      background-repeat: no-repeat;
      background-size: 60vmax;
      pointer-events: none;
      z-index: -1;
      @media screen and (min-width: $middle-screen) {
        opacity: 0.06;
      }
    }

  & .introduction-border {
      background-color: #fff;
      height: 1000px;
      margin-top: -950px;
      z-index: -1;
    }


  & .introduction h1 {
    font-size: 1.85em;
    font-weight: 500;
    @media screen and (min-width: $middle-screen) {
      font-size: 2em;
    }
    @media screen and (min-width: $large-screen) {
      font-size: 2.75em;
      max-width: 12em;
    }
  }

  & .introduction h2 {
    @media screen and (min-width: $large-screen) {
      font-size: 1.7em;
    }
  }
  .resume-button {
    background: $brand-color;
    color: #fff;
    &:focus,
    &:hover {
      background: rgba(#000,.725);
    }
  }

  .work-intro a {
    color: $brand-color;
  }
  .work-sample--more {
    a {
      &:focus,
      &:hover {
        background: $brand-color;
        color: #fff;
      }
    }
  }
}

.bloomfilter-header-image {
  display: block;
  max-width: 100px;
  @media screen and (min-width: $middle-screen) {
    max-width: 120px;
  }
  padding-bottom: 1.5em;
  width: 100%;
}
