.container--inline-image {
  align-items: center;
  display: flex;
}

.work-intro {
  margin: 3em auto;
  max-width: 30em;
  text-align: center;

  a {
    color: #5a9ae3;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  h2 {
    font-size: 2.25em;
  }

  .description {
    font-size: 1.25em;
  }

  .subhead {
    font-size: 80%;
    letter-spacing: .05em;
    text-transform: uppercase;
  }
}

.work-sample {
  color: #fff;
  padding: 2.8em 0;
  a {
    color: inherit;
    opacity: .76;
    text-decoration: none;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  h3 {
    font-size: 1.8em;
    line-height: 1.3;
  }

  h4 {
    font-family: 'Public Sans';
    font-size: 90%;
    font-weight: normal;
    margin-bottom: .25em;
    text-transform: uppercase;
  }

  .skills-list {
    list-style-type: none;
    width: 100%;

    li {
      background: rgba(#000,.3);
      border-radius: .25em;
      color: rgba(#fff, .8);
      padding: .35em .85em;
      display: inline-block;
      font-size: 60%;
      line-height: 1.2;
      margin: 0 .5em .5em 0;
      text-transform: uppercase;
      vertical-align: baseline;
    }
  }
}

.work-sample--craftycloud {
  background: #8e4623;
  background: url("http://res.cloudinary.com/browningeric/image/upload/v1524881120/callout-craftycloud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work-sample--hearthstone {
  background: #323f2b;
  background: url("http://res.cloudinary.com/browningeric/image/upload/v1523890417/callout-bg-hs.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $middle-screen) {
    padding: 0;
  }
  img {
    display: none;
    @media screen and (min-width: $middle-screen) {
      display: inline-block;
      height: 350px;
      margin-bottom: -1.5rem;
      max-width: none;

      width: auto;
    }
    @media screen and (min-width: $large-screen) {
      margin-top: -2.25em;
    }
  }
}

.work-sample--more {
  color: #111111;
  a {
  border-bottom: 1px dotted #1472ce;
  color: #1472ce;
  margin: 0 .25em;
  padding: 0;
  text-decoration: none;
  transition: all .25s ease;
  white-space: nowrap;

    &:focus,
    &:hover {
      background: #b4dd00;
      border: 0;
      color: #333;
      margin: 0;
      padding: .25em;
    }
  }
}

.work-sample--mcto {
  background: #18475d;
  background: url("http://res.cloudinary.com/browningeric/image/upload/v1523890417/callout-mcto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work-sample--peak {
  background: rgb(141,41,86);
  background: url("http://res.cloudinary.com/browningeric/image/upload/v1523890420/callout-peak.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work-sample--polar-puzzles {
  background: #9bbaf8;
  background: url("http://res.cloudinary.com/browningeric/image/upload/v1523890417/callout-bg-pp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #232352;

  img {
    display: none;
    @media screen and (min-width: $middle-screen) {
      display: inline-block;
      height: 320px;
      margin-bottom: -2.75rem;
      margin-top: -4.25em;
      max-width: none;
      padding-left: 1.5em;
      width: auto;
    }
    @media screen and (min-width: $large-screen) {
      margin-bottom: -3.5rem;
      margin-top: -4.25em;
      padding-left: 3em;
    }
  }

  .skills-list li {
    background: rgba(#fff, .3);
    color: rgba(#232352, .75);
  }
}

.work-sample--shadowrift {
  background: #222;
  background: url("http://res.cloudinary.com/browningeric/image/upload/v1523890418/callout-shadowrift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work-sample--tanium-activity{
  background: #222;
  background: url("https://res.cloudinary.com/browningeric/image/upload/v1662063568/callout-tanium-activity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work-sample--tanium-patchanddeploy {
  background: #222;
  background: url("https://res.cloudinary.com/browningeric/image/upload/v1662063568/callout-tanium-patchanddeploy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work-sample--tanium-nav {
  background: #222;
  background: url("https://res.cloudinary.com/browningeric/image/upload/v1662063568/callout-tanium-nav.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work-sample--bfilter {
  background: #222;
  background: url("https://res.cloudinary.com/browningeric/image/upload/v1696002070/callout-bfilter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
